let mix = require('laravel-mix');

// 合并javascript脚本
// mix.scripts(
//     [
//         'resources/assets/js/admin-lte/jquery-2.2.3.min.js',
//         'resources/assets/js/admin-lte/bootstrap.min.js',
//         'resources/assets/js/admin-lte/app.min.js',
//         'resources/assets/js/admin-lte/icheck.min.js',
//     ],
//     'public/assets/js/admin.js', // 目标
// );

// 合并css脚本
// mix.styles(
//     [
//         'resources/assets/css/admin-lte/bootstrap.min.css',
//         'resources/assets/css/admin-lte/AdminLTE.min.css',
//         'resources/assets/css/admin-lte/skin-blue.min.css',
//         'resources/assets/css/admin-lte/blue.css',
//     ],
//     'public/assets/css/admin.css',
// );


// version 方法接收文件名称相对于 public 目录，并且它会自动的为文件名增加一个独特的 hash，这样就可以自动的进行缓存清除了。
// mix.version(['assets/js/admin.js', 'assets/css/admin.css']);