let mix = require('laravel-mix');

<!-- Bootstrap 3.3.7 -->
mix.copy('node_modules/admin-lte/node_modules/bootstrap/dist/css/bootstrap.min.css', 'resources/assets/admin/css/');
<!-- Font Awesome -->
mix.copy('node_modules/admin-lte/node_modules/font-awesome/css/font-awesome.min.css', 'resources/assets/admin/css/');
<!-- Ionicons -->
mix.copy('node_modules/admin-lte/node_modules/ionicons/dist/css/ionicons.min.css', 'resources/assets/admin/css/');
<!-- Theme style -->
mix.copy('node_modules/admin-lte/dist/css/AdminLTE.css', 'resources/assets/admin/css/');
<!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
mix.copy('node_modules/admin-lte/dist/css/skins/_all-skins.min.css', 'resources/assets/admin/css/skins/');
<!-- Morris chart -->
mix.copy('node_modules/admin-lte/node_modules/morris.js/morris.css', 'resources/assets/admin/css/');
<!-- jvectormap -->
mix.copy('node_modules/admin-lte/node_modules/jvectormap/jquery-jvectormap.css', 'resources/assets/admin/css/');
<!-- Date Picker -->
mix.copy('node_modules/admin-lte/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', 'resources/assets/admin/css/');
<!-- Daterange picker -->
mix.copy('node_modules/admin-lte/node_modules/bootstrap-daterangepicker/daterangepicker.css', 'resources/assets/admin/css/');
<!-- bootstrap wysihtml5 - text editor -->
mix.copy('node_modules/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css', 'resources/assets/admin/css/');

<!-- jQuery 3 -->
mix.copy('node_modules/admin-lte/node_modules/jquery/dist/jquery.min.js', 'resources/assets/admin/js/');
<!-- jQuery UI 1.11.4 -->
mix.copy('node_modules/admin-lte/plugins/jQueryUI/jquery-ui.min.js', 'resources/assets/admin/js/');
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
// <script>
// $.widget.bridge('uibutton', $.ui.button);
// </script>
<!-- Bootstrap 3.3.7 -->
mix.copy('node_modules/admin-lte/node_modules/bootstrap/dist/js/bootstrap.min.js', 'resources/assets/admin/js/');
<!-- Morris.js charts -->
mix.copy('node_modules/admin-lte/node_modules/raphael/raphael.min.js', 'resources/assets/admin/js/');
mix.copy('node_modules/admin-lte/node_modules/morris.js/morris.min.js', 'resources/assets/admin/js/');
<!-- Sparkline -->
mix.copy('node_modules/admin-lte/node_modules/jquery-sparkline/jquery.sparkline.min.js', 'resources/assets/admin/js/');
<!-- jvectormap -->
mix.copy('node_modules/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js', 'resources/assets/admin/js/');
mix.copy('node_modules/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js', 'resources/assets/admin/js/');
<!-- jQuery Knob Chart -->
mix.copy('node_modules/admin-lte/node_modules/jquery-knob/dist/jquery.knob.min.js', 'resources/assets/admin/js/');
<!-- daterangepicker -->
mix.copy('node_modules/admin-lte/node_modules/moment/min/moment.min.js', 'resources/assets/admin/js/');
mix.copy('node_modules/admin-lte/node_modules/bootstrap-daterangepicker/daterangepicker.js', 'resources/assets/admin/js/');
<!-- datepicker -->
mix.copy('node_modules/admin-lte/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js', 'resources/assets/admin/js/');
<!-- Bootstrap WYSIHTML5 -->
mix.copy('node_modules/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js', 'resources/assets/admin/js/');
<!-- Slimscroll -->
mix.copy('node_modules/admin-lte/node_modules/slimscroll/lib/slimscroll.js', 'resources/assets/admin/js/');
<!-- FastClick -->
mix.copy('node_modules/admin-lte/node_modules/fastclick/lib/fastclick.js', 'resources/assets/admin/js/');
<!-- AdminLTE App -->
mix.copy('node_modules/admin-lte/dist/js/adminlte.min.js', 'resources/assets/admin/js/');
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
// <script src="dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
// <script src="dist/js/demo.js"></script>

// jQuery
// mix.copy('node_modules/admin-lte/node_modules/jquery/dist/jquery.min.js', 'resources/assets/js/admin-lte/');

// bootstarp
// mix.copy('node_modules/admin-lte/bootstrap/css/bootstrap.min.css', 'resources/assets/css/admin-lte/');
// mix.copy('node_modules/admin-lte/bootstrap/js/bootstrap.min.js', 'resources/assets/js/admin-lte/');
// bootstarp fonts
// mix.copy('node_modules/admin-lte/bootstrap/fonts/glyphicons-halflings-regular.ttf', 'public/assets/fonts/');
// mix.copy('node_modules/admin-lte/bootstrap/fonts/glyphicons-halflings-regular.woff', 'public/assets/fonts/');
// mix.copy('node_modules/admin-lte/bootstrap/fonts/glyphicons-halflings-regular.woff2', 'public/assets/fonts/');

// AdminLTE
// mix.copy('node_modules/admin-lte/dist/css/AdminLTE.min.css', 'resources/assets/css/admin-lte/');
// mix.copy('node_modules/admin-lte/dist/css/skins/skin-blue.min.css', 'resources/assets/css/admin-lte/');
// mix.copy('node_modules/admin-lte/dist/js/app.min.js', 'resources/assets/js/admin-lte/');
// mix.copy('node_modules/admin-lte/dist/img/*', 'public/assets/img/admin/');

// iCheck
// mix.copy('node_modules/admin-lte/plugins/iCheck/icheck.min.js', 'resources/assets/js/admin-lte/');
// mix.copy('node_modules/admin-lte/plugins/iCheck/square/blue.css', 'resources/assets/css/admin-lte/');
// mix.copy('node_modules/admin-lte/plugins/iCheck/square/blue.png', 'public/assets/css/');
// mix.copy('node_modules/admin-lte/plugins/iCheck/square/blue@2x.png', 'public/assets/css/');

// 合并javascript脚本
// mix.scripts(
//     [
//         'resources/assets/js/admin-lte/jquery-2.2.3.min.js',
//         'resources/assets/js/admin-lte/bootstrap.min.js',
//         'resources/assets/js/admin-lte/app.min.js',
//         'resources/assets/js/admin-lte/icheck.min.js',
//     ],
//     'public/assets/js/admin.js', // 目标
// );

// 合并css脚本
// mix.styles(
//     [
//         'resources/assets/css/admin-lte/bootstrap.min.css',
//         'resources/assets/css/admin-lte/AdminLTE.min.css',
//         'resources/assets/css/admin-lte/skin-blue.min.css',
//         'resources/assets/css/admin-lte/blue.css',
//     ],
//     'public/assets/css/admin.css',
// );


// version 方法接收文件名称相对于 public 目录，并且它会自动的为文件名增加一个独特的 hash，这样就可以自动的进行缓存清除了。
// mix.version(['assets/js/admin.js', 'assets/css/admin.css']);
